<section class="container-fluid">
    <app-box>
        <h1>Meu Perfil</h1>
        <!-- <div class="profile-photo">
            <img src="assets/images/avatar.svg">
            <div class="profile-photo__action">
                <p class="margin-p">Escolha uma foto para seu perfil</p>
                <p class="large-info">Tamanho máximo 1MB</p>
                <div style="display: flex; align-items: center;">
                    <div class="button-upload">
                        <label for="arquivo"> Escolher uma foto</label>
                        <input (change)="this.populateFileInForm($event.target)" type="file" name="arquivo"
                            id="arquivo">
                    </div>
                    <img style="border-radius: 50%;" *ngIf="this.form.controls.foto.value" width="100px" height="100px"
                        [src]="this.form.controls.foto.value">

                </div>
            </div>
        </div> -->
        <form [formGroup]="this.form" (submit)="this.updateUser()">
            <div class="d-flex col-12">
                <div class="col-6" style="margin-right: 5px">
                    <app-input-form controlName="firstName" placeholder="Digite o Nome Completo" label="Primeiro Nome">
                    </app-input-form>
                </div>

                <div class="col-6" style="margin-right: 5px">
                    <app-input-form controlName="lastName" placeholder="Digite o Último Nome" label="Último Nome">
                    </app-input-form>
                </div>
            </div>

            <div class="d-flex col-12">
                <div class="col-6" style="margin-right: 5px">
                    <app-input-form controlName="cpf" placeholder="CPF" label="CPF" mask="000.000.000-00"
                        [textError]="this.getTextError">
                    </app-input-form>
                </div>

                <div class="col-6">
                    <app-input-form controlName="email" placeholder="Digite seu E-mail" label="E-mail">
                    </app-input-form>
                </div>
            </div>
            <div class="d-flex col-12">
                <div class="col-6" style="margin-right: 5px">
                    <app-input-form type="date" style="margin-right: 5px" controlName="dataDeNascimento"
                        placeholder="Data de nascimento" label="Data de Nascimento">
                    </app-input-form>
                </div>

                <div class="col-6">
                    <mat-label>Cidade</mat-label>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-select formControlName="cidadeId" placeholder="Selecione a Cidade">
                            <ng-container *ngIf="(this.listSelects$ | async) as listCity">
                                <mat-option *ngFor="let city of listCity.lista" [value]="city.id">
                                    <span> {{city.nome}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="col-6">
                <app-input-form controlName="celular" mask="(00)00000-0000" placeholder="(00)00000-0000"
                    label="Digite seu Celular">
                </app-input-form>
            </div>

            <div class="col-6">
                <h1>Configurações da Senha</h1>
                <app-input-form controlName="senhaAtual" placeholder="digite sua Senha" label="Senha Atual"
                    type="password">
                </app-input-form>
                <app-input-form type="password" controlName="novaSenha" placeholder="digite a Nova Senha"
                    label="Nova senha">
                </app-input-form>

                <app-input-form type="password" controlName="confirmarNovaSenha" placeholder="confirme a senha"
                    label="Confirmar Senha" [textError]="this.getPasswordTextError">
                </app-input-form>
            </div>
            <div class="info-senha">
                <p class="">A senha deve conter, no mínimo:</p>
                <p [class]="'senha-erro-' + !this.invalidLengthPass">
                    <mat-icon *ngIf="!this.invalidLengthPass">close</mat-icon>
                    <mat-icon *ngIf="this.invalidLengthPass">check</mat-icon>
                    <span>8 Caracteres</span>
                </p>
                <p [class]="'senha-erro-' + !this.invalidUppercasePass">
                    <mat-icon *ngIf="!this.invalidUppercasePass">close</mat-icon>
                    <mat-icon *ngIf="this.invalidUppercasePass">check</mat-icon>
                    <span>1 Maiúscula</span>
                </p>
                <p [class]="'senha-erro-' + !this.invalidLowercasePass">
                    <mat-icon *ngIf="!this.invalidLowercasePass">close</mat-icon>
                    <mat-icon *ngIf="this.invalidLowercasePass">check</mat-icon>
                    <span>1 Letra minúscula</span>
                </p>
                <p [class]="'senha-erro-' + !this.invalidNumberPass">
                    <mat-icon *ngIf="!this.invalidNumberPass">close</mat-icon>
                    <mat-icon *ngIf="this.invalidNumberPass">check</mat-icon>
                    <span>1 Número</span>
                </p>
                <p [class]="'senha-erro-' + !this.invalidCharacterSpecialExist">
                    <mat-icon *ngIf="!this.invalidCharacterSpecialExist">close</mat-icon>
                    <mat-icon *ngIf="this.invalidCharacterSpecialExist">check</mat-icon>
                    <span>1 Caractere especial (ex:#!*_&)</span>
                </p>
            </div>
            <div class="d-flex" style=" margin-top: 20px;">
                <app-submit-button [disabled]="this.form.invalid || !this.checkPasswordValid()"
                    [loading]="this.loading">Salvar Alterações
                </app-submit-button>
            </div>

        </form>
    </app-box>
</section>