@import '~src/styles/_variables.scss';


::ng-deep .mat-button-wrapper {
    color: black !important
}


.container-fluid {

    app-box {

        h1 {
            color: $mat-label-color;
            font-weight: 700;
            font-size: 20px;
        }

        .profile-photo {
            align-items: center;
            display: flex;

            img {
                margin-right: 40px;
            }

            &__action {
                display: flex;
                flex-direction: column;

                .margin-p {
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 0;
                }

                .large-info {
                    font-size: 10px;
                }
            }

            .button-upload {
                background-color: transparent;
                border: 2px solid $primary;
                border-radius: 30px;
                color: $primary;
                font-weight: 700;
                font-size: 18px;
                height: 48px;
                margin-right: 20px;
                width: 183px;

                label {
                    width: 100%;
                    text-align: center;
                    display: block;
                    margin-top: 10px;
                    height: 100%;
                    cursor: pointer;
                }

                input[type="file"] {
                    display: none;
                }

            }
        }

        form {
            margin-top: 50px;

            .info-senha {
                align-items: flex-start;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 12px;
                    margin: 0;
                }

                .senha-label-info {
                    color: $placeholder-color;
                }

                .senha-letra-maiuscula {
                    align-items: center;
                    display: flex;
                    color: $primary;

                    mat-icon {
                        color: $primary;
                        font-size: 20px
                    }
                }

                .senha-erro-true {
                    align-items: center;
                    display: flex;
                    color: $red-color;

                    mat-icon {
                        color: $red-color;
                        font-size: 20px
                    }
                }

                .senha-erro-false {
                    align-items: center;
                    display: flex;
                    color: $green-color;

                    mat-icon {
                        color: $green-color;
                        font-size: 20px
                    }
                }
            }
        }
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: white;
        border-radius: 5px;
        border: 1px solid $placeholder-color;
        border-radius: 8px;
    }

    ::ng-deep .mat-form-field {
        font-size: 14px; // example
        margin: 0;
    }

    mat-form-field {
        width: 100%;
    }
}