<div class=" row col-12 d-flex">
    <div class="box-ocorrencias-recentes" *ngFor="let box of this.ocorrencias_recentes">
        <app-box>
            <div class="content-up-ocorrencia-recentes">
                <p class="title">Água e Esgoto</p>
                <img src="assets/images/rafiki_2.svg">
            </div>
            <div class="content-down-ocorrencia-recentes">
                <div class="group-1">
                    <img width="25" height="25" src="assets/images/avatar.svg">
                    <p class="user">Carlos José</p>
                </div>
                <div class="group-2">
                    <p class="type"><strong>Bueiro Entupido</strong></p>
                    <p class="small"><span class="small-color">Endereço da ocorrência:</span> Rua 10, Av.14, Qd
                        02,
                        Conj H CEP 7777777</p>
                    <p class="small"><span class="small-color">Data da solicitação:</span>22/10/2022</p>
                    <p class="type"><strong>Descrição</strong></p>
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et dolore magna aliqua.</p>


                </div>
            </div>
        </app-box>

    </div>
</div>