<section class="container-fluid">
    <app-box>
        <h1>Notificações</h1>
        <div class="row">
            <div class="col-10">
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h5>Filtros</h5>
                            </mat-panel-title>
                            <mat-panel-description class="d-flex justify-content-end">
                                <mat-icon>filter_alt</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <app-filter-notification></app-filter-notification>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="col-2">
                <button class="cadastrar-notificacao" (click)="this.openModalCreateNotification()">
                    <mat-icon>add</mat-icon><span>Cadastrar notificação</span>
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <app-notifications-table></app-notifications-table>
        </div>
    </app-box>
</section>