<section class="modal-create-assunto container col-12">
    <h1 mat-dialog-title>Adicionar Assunto</h1>
    <form [formGroup]="this.form" (submit)="this.createAssunto()">
        <div class="col-12">
            <div mat-dialog-content>
                <div class="form-group">
                    <app-input-form controlName="nome" placeholder="Novo assunto" label="Nome do Assunto">
                    </app-input-form>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Descrição</label>
                    <textarea class="form-control" id="textAreaDescription" aria-describedby="textAreaDescription"
                        placeholder=" Digite a descrição" formControlName="descricao">
                </textarea>
                </div>

                <div class="mt-4 content-files">
                    <div class="custom-file mb-4">
                        <label>Imagem Menu</label>
                        <input (change)="this.manipulateFileImageMenu($event)"
                            placeholder="selecione uma imagem de Menu" type="file" class="form-control"
                            id="validatedCustomFile">
                    </div>

                    <div class="custom-file">
                        <label>Imagem Tela</label>
                        <input (change)="this.manipulateFileImageTela($event)"
                            placeholder="selecione uma imagem de Menu" type="file" class="form-control"
                            id="validatedCustomFile">
                    </div>
                </div>
                <div class="box-categorias">
                    <h1>Adicionar Categorias</h1>
                    <div cdkDropListGroup class="categoria-lista">
                        <div class="col-3 border-end">
                            <div class="categoria-lista__align">
                                <div class="categoria-lista__align__lista-right">
                                    <input id="categorias" name="categorias" formControlName="categorias"
                                        placeholder="Adicionar nova tag">
                                </div>
                                <mat-icon (click)="this.populateListSubCategorias()">add</mat-icon>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="dropped flex">
                                <div class="combo-categoria" *ngFor="let item of this.listCategoria">
                                    <span class="mt-2">{{item.nome}}</span>
                                    <mat-icon (click)="this.removeItemList(item.nome)">cancel</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-dialog-actions align="end">
            <button class="button-cancel" mat-button mat-dialog-close>Cancelar</button>
            <app-submit-button [disabled]="this.form.invalid" [loading]="this.loading">Salvar Assunto
            </app-submit-button>
        </mat-dialog-actions>
    </form>
</section>