<section class="modal-create-assunto">
    <h1 mat-dialog-title>Adicionar Usuário</h1>
    <form [formGroup]="this.form">
        <div mat-dialog-content>
            <div class="col-12">
                <div class="d-flex form-group">
                    <div class="col-6 input-margin">
                        <app-input-form controlName="assunto" placeholder="Novo assunto" label="Título do Assunto">
                        </app-input-form>
                    </div>
                    <div class="col-6">
                        <app-input-form controlName="responsavel_area" placeholder="Digite o nome do responsável"
                            label="Responsável pela área">
                        </app-input-form>
                    </div>
                </div>
                <div class="d-flex form-group">
                    <div class="col-6 input-margin">
                        <app-input-form controlName="email" placeholder="Digite o E-mail do responsável" label="E-mail">
                        </app-input-form>
                    </div>
                    <div class="col-6">
                        <app-input-form controlName="telefone" placeholder="Digite o telefone do responsável"
                            label="Telefone"></app-input-form>
                    </div>
                </div>
                <div class="d-flex form-group">
                    <div class="col-6">
                        <app-input-form controlName="imagem" placeholder="Clique aqui para adicionar imagem"
                            label="Adicionar imagem" icon="insert_photo">
                        </app-input-form>
                    </div>
                </div>
                <div class="box-categorias">
                    <h1>Adicionar Categorias</h1>
                    <div cdkDropListGroup class="row  categoria-lista">
                        <div class="col-6 border-end">
                            <div class="categoria-lista__align">
                                <div class="categoria-lista__align__lista-right">
                                    <app-input-form controlName="categorias" label="Categorias"
                                        placeholder="adicionar nova tag"></app-input-form>
                                </div>
                                <mat-icon (click)="this.populateListLeft()">add</mat-icon>
                            </div>
                            <div class="flex" cdkDropList [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
                                <div class="combo-categoria" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dropped flex" cdkDropList [cdkDropListData]="done"
                                (cdkDropListDropped)="drop($event)">
                                <div class="combo-categoria-left" *ngFor="let item of done" cdkDrag>{{item}}
                                    <mat-icon (click)="this.removeItemListRight(item)">cancel</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-dialog-actions align="end">
            <button class="button-cancel" mat-button mat-dialog-close>Cancelar</button>
            <app-submit-button [disabled]="this.form.invalid" [loading]="this.loading">Salvar Assunto
            </app-submit-button>
        </mat-dialog-actions>
    </form>
</section>