<div class="statics-ocorrencias">
    <div class="col flex-statics">
        <p class="sub-title">Quantidade de ocorrências</p>
        <div class="qtd-ocorrencias d-flex justify-content-center"><span>240</span>
        </div>
    </div>
    <div class="col flex-statics">
        <p class="sub-title">Quantidade resolvidas</p>
        <div class="qtd-ocorrencias-resolvidas d-flex justify-content-center"><span>240</span>
        </div>
    </div>
    <div class="col top-margin flex-statics">
        <p class="sub-title">Percentual resolvidas</p>
        <div class="qtd-percentual-resolvidas d-flex justify-content-center"><span>100%</span>
        </div>
    </div>

    <div class="col flex-statics">
        <p class="sub-title">Percentual resolvidas</p>
        <div class="qtd-percentual-pendentes d-flex justify-content-center"><span>0%</span>
        </div>
    </div>
</div>