@import "~src/styles/_variables.scss";

section {
    @media (max-width: 90px) {
        button {
            display: none;
        }
    }

    button {
        width: 100%;
        height: 48px;
        border-radius: 8px;
        font-family: 'Nunito';

        .mat-progress-spinner {
            display: -webkit-inline-box;
            position: relative;
            overflow: hidden;
        }
    }

    button.mat-primary {
        background-color: $primary;
    }

    button:disabled {
        background-color: rgba(0, 0, 0, .12)
    }

    ::ng-deep .mat-button-wrapper {
        color: white !important;
    }
}