@import "~src/styles/_variables.scss";

button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    font-family: 'Nunito';

    .mat-progress-spinner {
        display: -webkit-inline-box;
        position: relative;
        overflow: hidden;
    }
}

button.mat-primary {
    background-color: $primary;
}