<nav>
    <mat-drawer mode="side" opened>
        <ng-container *ngIf="user$ | async as user; else loading">
            <div class="mat-drawer__content">
                <div class="sidenav-content">
                    <img alt="logo" src="assets/images/logo-text.svg">
                    <section class="sidenav-content__user">
                        <div data-bs-toggle="tooltip" data-bs-placement="top" [title]="user.primeiroNome"
                            class="rounded-circle border d-flex justify-content-center align-items-center margin">
                            {{user.primeiroNome.charAt(0) }}
                        </div>
                        <!-- <p>{{user.grupo.charAt(0).toUpperCase() + user.grupo.slice(1)}}</p> -->
                    </section>
                    <section class="sidenav-content__links">
                        <div class="sidenav-content__links__item link" [routerLink]="'/dashboard'">
                            <mat-icon>dashboard</mat-icon>
                            <p>Dashboard</p>
                        </div>
                        <hr>
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="sidenav-content__links__item">
                                        <mat-icon>edit_document</mat-icon>Ocorrências
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidenav-content__links__item__sub-links" [routerLink]="'/ocorrencias'">
                                    Central de
                                    ocorrências</div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <hr>
                        <div class="sidenav-content__links__item link" [routerLink]="'/relatorios'">
                            <mat-icon>summarize</mat-icon>
                            <p>Relatórios</p>
                        </div>
                        <hr>
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="sidenav-content__links__item">
                                        <mat-icon>account_circle</mat-icon>Usuários
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidenav-content__links__item__sub-links" [routerLink]="['/users']"
                                    routerLinkActive="router-link-active">Lista de Usuários</div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <hr>
                        <div class="sidenav-content__links__item link" [routerLink]="'/notifications'">
                            <mat-icon>notifications_active</mat-icon>
                            <p>Notificações</p>
                        </div>
                        <hr>
                        <div class="sidenav-content__links__item link" [routerLink]="'/plebiscito'">
                            <mat-icon>how_to_vote</mat-icon>
                            <p>Plebiscito</p>
                        </div>
                        <hr>
                        <ng-container *checkPermission="'administrador'">
                            <mat-accordion>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="sidenav-content__links__item">
                                            <mat-icon>settings</mat-icon>Configurações
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="sidenav-content__links__item__sub-links" style="margin-top: 5px"
                                        [routerLink]="['/settings/assuntos']" routerLinkActive="router-link-active">
                                        Gerenciar
                                        Categorias
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <hr>
                        </ng-container>
                    </section>
                    <hr>
                </div>
            </div>
        </ng-container>
        <ng-template #loading>
            <div class="d-flex justify-content-center align-items-center" style="margin-top: 90%;">
                <mat-spinner diameter="30"></mat-spinner>
            </div>
        </ng-template>
    </mat-drawer>
</nav>