<section *ngIf="this.total > this.totalPorPagina">
    <div class="pagination-custom">
        <!-- <mat-icon>chevron_left</mat-icon> -->
        <ng-container *ngFor="let page of this.fakeArray; let myIndex = index">
            <div class="page" [ngClass]="{'page-first': (myIndex + 1) === this.paginaAtual}"
                (click)="this.updatePage(myIndex + 1)">
                {{myIndex + 1}}
            </div>
        </ng-container>
        <!-- <mat-icon>chevron_right</mat-icon> -->
    </div>
</section>