@import '~src/styles/_variables.scss';

.relatorios-mapa {

    app-box {
        .title-category {
            h1 {
                margin: 0;
                padding: 5px;
            }
        }

        .container {
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            text-align: center;

            p {
                margin-bottom: 0;
            }
        }

        .chart {
            p {
                font-weight: 700;
                font-size: 20px;
                line-height: 120%;
                margin-bottom: 0;
            }
        }
    }





    @mixin status-color($color) {
        width: 20px;
        height: 20px;
        background: $color;
        border-radius: 50%;
    }


    .status-color-pendentes {
        @include status-color($orange-color)
    }

    .status-color-tratamento {
        @include status-color($green-color)
    }

    .status-color-recusadas {
        @include status-color($red-color)
    }

    .status-color-resolvidas {
        @include status-color($color-paragraph)
    }

    .font-styles {
        font-weight: 400;
        font-size: 13px;
    }

    hr {
        margin: 5px 0 0 0;
        width: calc(100% - 50px);
    }
}