.relatorios-mapa {

    app-box {
        .title-category {
            h1 {
                margin: 0;
                padding: 5px;
            }
        }

        .container {
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            text-align: center;

            p {
                margin-bottom: 0;
            }
        }
    }
}