$background-color: white;
$background-color-body: #E5E5E5;
$mat-label-color: #292929;
$placeholder-color: #666;
$primary: #1474FF;
$color-error: #d9534f;
$color-success: #4bb543;
$color-white: #ffffff;
$text-error: #BC1C1C;
$backgroud-toolbar: #FEFEFE;
$color-paragraph: #00327A;
$color-black: #000;
$red-color: #FF0000;
$orange-color: #FF8A00;
$green-color: #6AD003;
$icon-color: #A3A3A3;