@import './_variables.scss';

body {
    background-color: $background-color-body;

    .pg-login {
        background-color: $background-color;
    }

    .mat-form-field {
        font-family: Nunito, Arial, Helvetica, sans-serif;
        color: $placeholder-color;
    }

    .snack-error {
        background-color: $color-error;
        color: $color-white;
    }

    .snack-success {
        background-color: $color-success;
        color: $color-white;
    }

    .mat-button-wrapper {
        color: $color-white;
    }


    .mat-toolbar,
    .mat-toolbar h1,
    .mat-toolbar h2,
    .mat-toolbar h3,
    .mat-toolbar h4,
    .mat-toolbar h5,
    .mat-toolbar h6 {
        font-family: Nunito, Arial, Helvetica, sans-serif;
    }

    .mat-drawer-inner-container {
        height: 100% !important;
    }

    table {
        width: 100%;

        .mat-header-cell {
            background-color: #F4F5F7;
            color: $color-black;
            font-weight: 700;
            font-size: 14px;
        }
    }

    .button-cancel {
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 8px;
        width: 150px;
        height: 48px;
        margin-right: 10px;
    }
}