<section class="container-fluid">
    <app-category-list-box></app-category-list-box>
    <div class="geral">
        <p class="geral__title">Geral</p>
        <app-box>
            <div class="row col-12">
                <div class="col-4">
                    <app-statics-ocorrencias></app-statics-ocorrencias>
                </div>
                <div class="col-5">
                    <app-bar-chart></app-bar-chart>
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </app-box>
    </div>

    <div class="ocorrencias-recentes">
        <p class="ocorrencias-recentes__title">Ocorrências recentes</p>
        <div class="box-margin">
            <app-box-ocorrencias-recentes></app-box-ocorrencias-recentes>
        </div>
    </div>
</section>