<section class="modal-create-employees">
    <h1 mat-dialog-title>Adicionar Usuário</h1>
    <form [formGroup]="this.form">
        <div mat-dialog-content>
            <div class="col-12">
                <div class="d-flex">
                    <div class="input-margin">
                        <app-input-form controlName="nome" placeholder="Nome completo" label="Nome completo">
                        </app-input-form>
                    </div>
                    <app-input-form controlName="data_nascimento" placeholder="Data de nascimento"
                        label="Data de nascimento">
                    </app-input-form>
                </div>
                <div class="d-flex">
                    <div class="input-margin">
                        <app-input-form controlName="cpf" placeholder="CPF" label="CPF"></app-input-form>
                    </div>
                    <div style="width: 343px">
                        <app-input-form controlName="email" placeholder="E-mail" label="E-mail"></app-input-form>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="input-margin">
                        <app-input-form controlName="telefone" placeholder="(00) 00000-0000" label="Telefone">
                        </app-input-form>
                    </div>
                    <div style="width: 343px">
                        <app-input-form controlName="endereco" placeholder="Digite o endereço do usuário"
                            label="Endereço residencial">
                        </app-input-form>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="input-margin">
                        <app-input-form controlName="senha" placeholder="Digite a senha" label="Senha provisória">
                        </app-input-form>
                    </div>
                    <div style="width: 343px;">
                        <app-input-form controlName="foto" placeholder="Clique aqui para adicionar foto do usuário"
                            label="Adicionar foto" icon="insert_photo">
                        </app-input-form>
                    </div>
                </div>

            </div>
        </div>
        <mat-dialog-actions align="end">
            <button class="button-cancel" mat-button mat-dialog-close>Cancelar</button>
            <app-submit-button [disabled]="this.form.invalid" [loading]="this.loading">Adicionar Usuário
            </app-submit-button>
        </mat-dialog-actions>
    </form>
</section>