@import '~src/styles/_variables.scss';

.modal-create-employees {
    h1 {
        font-weight: 700;
        font-size: 22px;
        color: $mat-label-color;
    }

    form {
        .input-margin {
            margin-right: 10px;
            width: 310px;
        }

        .content-image {
            align-items: center;
            display: flex;
            width: 343px;
        }
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: white;
        border-radius: 5px;
        border: 1px solid $placeholder-color;
        border-radius: 8px;
    }

    ::ng-deep .mat-form-field {
        font-size: 14px; // example
        margin: 0;
    }

    mat-form-field {
        width: 100%;
    }
}