<div class="row align-items-center">
    <div class="col-6">
        <app-static-data></app-static-data>
    </div>
    <div class="col-6">
        <canvas height="150px" width="150px" baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets"
            [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'" [legend]="false">
        </canvas>
    </div>
</div>
<!-- <ng-container *ngIf="!this.renderChartStatus; else renderChartPerTypeStatus"> -->
<!-- </ng-container> -->
<!-- <ng-template #renderChartPerTypeStatus>
            <div class="d-flex justify-content-end">
                <div class="relative mt-5">
                    <canvas height="150px" width="150px" baseChart [labels]="doughnutChartLabels"
                        [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions" [legend]="true"
                        [type]="'doughnut'" [legend]="false">
                    </canvas>
                    <div class="absolute-center text-center">
                        <p>Total</p>
                        <p>{{this.total}}</p>
                    </div>
                </div>
            </div>
        </ng-template> -->