<section class="modal-detalhes-notificacao">
    <div mat-dialog-title>
        <h5>Cadastrar notificação</h5>

    </div>
    <form [formGroup]="this.form" (submit)="this.publishNotification()">
        <mat-dialog-content class="mat-typography">
            <div class="row">
                <div class="col-md-4">
                    <app-input-form label="Título" controlName="titulo" placeholder="digite o título" type="text">
                    </app-input-form>
                </div>
                <div class="col-md-4">
                    <mat-label>Categoria</mat-label>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-select formControlName="categoriaId" placeholder="Selecione a categoria">
                            <ng-container *ngIf="(this.listSelects$ | async) as listCategory">
                                <mat-option *ngFor="let category of listCategory[1].lista" [value]="category.id">
                                    <img class="example-option-img" aria-hidden [src]="category.caminhoImagemMenu"
                                        height="25">
                                    <span> {{category.nome}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-md-4">
                    <mat-label>Criticidade</mat-label>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-select formControlName="criticidade" placeholder="Selecione a criticidade">

                            <mat-option *ngFor="let criticidade of this.listCriticidade" [value]="criticidade.id">
                                <span> {{criticidade.description}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-label>Cidade</mat-label>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-select formControlName="cidadeId" placeholder="Selecione a cidade">
                            <ng-container *ngIf="(this.listSelects$ | async) as listCity">
                                <mat-option *ngFor="let city of listCity[0].lista" [value]="city.id">
                                    <span> {{city.nome}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <app-input-form label="Link" controlName="link" placeholder="adicione um link válido" type="text">
                    </app-input-form>
                </div>
                <div class="col-md-4">
                    <app-input-form label="Cor de fundo" controlName="corBackground" placeholder="adicione uma cor"
                        type="text">
                    </app-input-form>
                </div>
                <div class="col-md-4">
                    <app-input-form label="Cor do texto" controlName="corTexto" placeholder="adicione uma cor"
                        type="text">
                    </app-input-form>
                </div>
            </div>
            <div class="row">
                <app-input-form label="Descrição" controlName="descricao" placeholder="digite a descrição"
                    type="textarea">
                </app-input-form>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <div class="d-flex justify-content-end">
                <button class="button-cancel" mat-button mat-dialog-close>Cancelar</button>
                <app-submit-button [disabled]="this.form.invalid || this.loading" [loading]="this.loading">Publicar
                    notificação</app-submit-button>
                <!-- <button type="submit" [disabled]="this.form.invalid" class="button-despachar-ocorrencia" mat-button>
                        Publicar notificação</button> -->
            </div>
        </mat-dialog-actions>
    </form>
</section>