<section class="ocorrencias">
    <app-box>
        <h1>Central de ocorrências</h1>
        <ng-container *ngIf="!this.renderChartStatus; else renderChartPerTypeStatus">
            <app-infos-initial-charts></app-infos-initial-charts>
        </ng-container>
        <ng-template #renderChartPerTypeStatus>
            <div class="d-flex justify-content-end">
                <div class="relative mt-5">
                    <canvas height="150px" width="150px" baseChart [labels]="doughnutChartLabels"
                        [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions" [legend]="true"
                        [type]="'doughnut'" [legend]="false">
                    </canvas>
                    <div class="absolute-center text-center">
                        <p>Total</p>
                        <p>{{this.total}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="col-12 mt-4">
            <app-ocorrencias-table (filterEmit)="this.renderChartPerStatus($event)"></app-ocorrencias-table>
        </div>
    </app-box>
</section>