@import '~src/styles/_variables.scss';

@mixin status-color($color) {
    width: 20px;
    height: 20px;
    background: $color;
    border-radius: 50%;
}

.ocorrencias {
    h1 {
        color: $mat-label-color;
        font-weight: 700;
        font-size: 20px;
    }

    .example-action-buttons {
        padding-bottom: 20px;
    }

    .example-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }


    .relative {
        position: relative;
    }

    .absolute-center {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .text-center {
        text-align: center;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
    }

}