<section class="filter-relatorios">
    <app-box>
        <h1>Relatórios</h1>
        <p>Pesquisar Por</p>
        <form [formGroup]="this.form" class="col-12" (submit)="this.navigateToManager()">
            <div class="row col-8">
                <div class="col-4">
                    <app-input-form controlName="data_inicial" label="Período De" type="date"
                        placeholder="Digite a Data Inicial"></app-input-form>
                </div>
                <div class="col-4">
                    <app-input-form controlName="data_final" label="Período Até" type="date"
                        placeholder="Digite a Data Final"></app-input-form>
                </div>
            </div>
            <div class="row col-8">
                <div class="col-4">
                    <mat-label>Categoria</mat-label>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-select formControlName="CategoriaId" placeholder="Selecione a Categoria"
                            (selectionChange)="this.filtraSubCategoria($event)">
                            <mat-option *ngFor="let categoria of this.listCategorias" [value]="categoria.id">
                                <img class="example-option-img" aria-hidden [src]="categoria.caminhoImagemMenu"
                                    height="25">
                                <span> {{categoria.nome}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-label>Sub Categoria</mat-label>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-select formControlName="SubCategoriaId" placeholder="Selecione a Sub Categoria">
                            <mat-option *ngFor="let subCategoria of this.listSubCategorias" [value]="subCategoria.id">
                                <span> {{subCategoria.nome}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row col-8">
                <div class="col-4">
                    <app-input-form controlName="bairro" label="Bairro" placeholder="Filtrar Por">
                    </app-input-form>
                </div>
                <div class="col-4">
                    <mat-label>Situação</mat-label>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-select formControlName="SituacaoId" placeholder="Selecione a Situação">
                            <mat-option *ngFor="let situacao of this.listSituacao" [value]="situacao.id">
                                <span> {{situacao.nome}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row col-8">
                <div class="col-4">
                    <mat-label>Responsável</mat-label>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-select formControlName="UsuarioDespachanteId" placeholder="Selecione o Despachante">
                            <mat-option *ngFor="let employee of this.listEmployees" [value]="employee.cidadaoId">
                                <span> {{employee.nome}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-label>Tipo do Relatório</mat-label>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-select formControlName="tipoRelatorio" placeholder="Selecione o tipo do Relatório">
                            <mat-option *ngFor="let type of this.typeReport" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-1">
                <app-submit-button [loading]="this.form.invalid" [loading]="this.loading">Gerar Relatório
                </app-submit-button>
            </div>
        </form>
    </app-box>
</section>