<section>
    <ng-container [formGroup]="this.form">
        <mat-label>{{this.label}}</mat-label>

        <ng-container *ngIf="this.type === 'date'">
            <mat-form-field appearance="outline" floatLabel="always">
                <input [placeholder]="this.placeholder" [id]="this.controlName" [name]="this.controlName"
                    [title]="this.controlName" matInput [matDatepicker]="picker" [formControlName]="this.controlName">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon class="icon-date" matDatepickerToggleIcon>calendar_month</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="this.type === 'select'">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-select (selectionChange)="this.selectItem($event)" [formControlName]="this.controlName"
                    [placeholder]="this.placeholder">
                    <ng-container *ngIf="listSelect$ | async as list; else loading">
                        <mat-option *ngFor="let item of list" [value]="item.id">
                            <img class="example-option-img" aria-hidden [src]="item.icon" height="25">
                            <span>{{item.value}}</span>
                        </mat-option>
                    </ng-container>
                    <ng-template #loading>
                        <mat-option>
                            <span class="d-flex justify-content-center align-items-center">
                                <p style="margin: 0;">Buscando Categorias... </p>
                                <mat-spinner diameter="25"></mat-spinner>
                            </span>
                        </mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>

        </ng-container>


        <ng-container *ngIf="this.type !=='select' && this.type !=='date'">
            <mat-form-field appearance="outline" floatLabel="always">
                <input [id]="this.controlName" [name]="this.controlName" [title]="this.controlName" [type]="this.type"
                    [mask]="this.mask" matInput [formControlName]="this.controlName" [placeholder]="this.placeholder">
                <!-- autocomplete="current-password" -->
                <mat-icon *ngIf="this.icon" matSuffix>{{this.icon}}</mat-icon>
                <mat-error *ngIf="this.form.controls[this.controlName].invalid">{{this.textError}}</mat-error>
            </mat-form-field>
        </ng-container>
    </ng-container>
</section>