<section class="modal-detalhes-ocorrencia">
    <header mat-dialog-title class="header">
        <section class="container-fluid d-flex justify-content-between align-items-center">
            <article class="me-3 mt-2">
                <p class="fw-bold">Protocolo</p>
                <p>{{this.data.ocurrence.id}}</p>
            </article>
            <article class="me-1 mt-2">
                <p class="fw-bold">Cidadão</p>
                <p>mock user</p>
            </article>
            <article class="me-1 mt-2">
                <p class="fw-bold">Categoria</p>
                <p>{{this.data.ocurrence.categoriaOcorrencia.nome}}</p>
            </article>
            <article class="me-1 mt-2">
                <p class="fw-bold">Sub Categoria</p>
                <p>{{this.data.ocurrence.subCategoriaOcorrencia.nome}}</p>
            </article>
            <article class="me-1 mt-2">
                <p class="fw-bold">Data de criação</p>
                <p>{{this.data.ocurrence.dataCriacao | date: 'dd/MM/yyyy'}}</p>
            </article>
            <mat-icon class="icon-close" mat-dialog-close>cancel</mat-icon>
        </section>
    </header>
    <mat-dialog-content class="mat-typography">
        <div class="container-fluid">
            <h1>Detalhes da ocorrência</h1>
            <div class="container-fluid__container d-flex justify-content-start">
                <div class="ms-2 col-5 mt-2 mb-2 me-4 container-description">
                    <p class="ms-2 mt-2" style="text-align: justify;">
                        {{this.data.ocurrence.comentarioCidadao}}
                    </p>
                </div>
                <div class="ms-3 col-6 mt-2 mb-2">

                    <carousel [interval]="0">
                        <slide *ngFor="let image of this.data.ocurrence.documentos">
                            <img [src]="'data:image/'+image.extensao +';base64,'+image.arquivo" alt="slide de imagens"
                                style="display: block; width: 100%; height: 300px;">
                        </slide>
                    </carousel>
                </div>
            </div>
            <app-recusa-ocorrencia *ngIf="this.showRecusaOcorrencia" [ocorrenciaId]="this.data.ocurrence.id"
                (closeDialog)="this.closeModalRecusaOcorrencia()">
            </app-recusa-ocorrencia>

            <form [formGroup]="this.form">
                <div class="mt-3">
                    <mat-checkbox [disabled]="this.data.type === 'view'"
                        (change)="this.mudarSituacaoOcorrencia($event)"></mat-checkbox> Essa
                    ocorrência já foi
                    tratada?
                </div>
                <div class="mt-3  d-flex">
                    <div class="p-2">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-select formControlName="CategoriaId" placeholder="Selecione a categoria"
                                (selectionChange)="this.filtraSubCategoria($event)">
                                <mat-option *ngFor="let categoria of this.listCategorias" [value]="categoria.id">
                                    <img class="example-option-img" aria-hidden [src]="categoria.caminhoImagemMenu"
                                        height="25">
                                    <span> {{categoria.nome}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="p-2">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-select formControlName="subCategoriaOcorrenciaId"
                                placeholder="Selecione a sub categoria">
                                <mat-option *ngFor="let categoria of this.listSubCategorias" [value]="categoria.id">
                                    <span> {{categoria.nome}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="row justify-content-end me-4">
            <button class="button-cancel" mat-button mat-dialog-close>Cancelar</button>
            <button *ngIf="this.data.type === 'edit'" class="button-recusar-ocorrencia" mat-button
                (click)="this.showRecusaOcorrencia = true">Recusar
                ocorrência</button>
            <button [disabled]="this.loading" *ngIf="this.data.type === 'edit'" class="button-despachar-ocorrencia"
                mat-button (click)="this.salvarOcorrencia()">
                <span class="d-flex align-items-center justify-content-center" *ngIf="this.loading; else labelButton">
                    <mat-spinner diameter="25"></mat-spinner><span>Salvar</span>
                </span>
                <ng-template #labelButton>
                    Salvar
                </ng-template>
            </button>
        </div>
    </mat-dialog-actions>
</section>