@import '~src/styles/_variables.scss';

@mixin status-base($color) {
    background: $color;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    text-align: center;
    width: 84px;
}

.table-notifications {

    table {
        // .criticidade- {
        //     @include status-base($red-color)
        // }

        // .criticidade {
        //     @include status-base($color-paragraph)
        // }

        // .criticidade {
        //     @include status-base($orange-color)
        // }

        // .criticidade{
        //     @include status-base($green-color)
        // }
    }
}