@import '~src/styles/_variables.scss';

.container-fluid {
    app-box {
        h1 {
            color: $mat-label-color;
            font-weight: 700;
            font-size: 20px;
        }

        .label-info {
            align-items: center;
            display: flex;

            .remove-margin-p {
                margin: 0;
                margin-right: 100px;
            }

            mat-icon {
                color: $placeholder-color;
                margin-right: 5px;
            }

            .label-icon {
                margin: 0;
                margin-right: 5px;
            }
        }

        .input-form {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .form {
                align-items: center;
                display: flex;
                width: 614px;

                .icon-delete {
                    color: $red-color;
                    font-size: 30px;
                    height: 30px;
                    margin-left: 20px;
                }
            }

            mat-icon {
                color: $primary;
                cursor: pointer;
            }
        }

        .cadastrar-assunto {
            align-items: center;
            background: #1474FF;
            border: none;
            border-radius: 8px;
            color: white;
            display: flex;
            height: 48px;
            padding: 13px 16px;

            mat-icon {
                color: white
            }
        }
    }
}