<section class="container-fluid">
    <app-box>
        <h1>Gerenciar assuntos</h1>

        <div class="col-12">
            <div class="d-flex flex-row-reverse">
                <div class="label-info">
                    <p class="remove-margin-p">0 itens selecionados</p>
                    <mat-icon>picture_as_pdf</mat-icon>
                    <p class="label-icon">Gerar PDF</p>
                    <mat-icon>description</mat-icon>
                    <p class="label-icon">Gerar Relatório</p>
                </div>
            </div>
            <div class="input-form">
                <form [formGroup]="this.formFilter" class="form">
                    <app-input-form controlName="assunto" placeholder="Pesquise por assunto" label="Pesquisar assunto"
                        icon="search">
                    </app-input-form>
                </form>
                <mat-icon (click)="this.openDialog()">add_circle_outline</mat-icon>
            </div>
            <app-table-assuntos></app-table-assuntos>
        </div>
    </app-box>
</section>