@import '~src/styles/_variables.scss';

@mixin status-base($color) {
    background: $color;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    text-align: center;
    width: 84px;
}

mat-icon {
    color: $placeholder-color;
}

table {
    th {
        mat-icon {
            padding-top: 4px;
        }
    }

    .align-itens {
        display: flex;
    }

    mat-checkbox {
        margin-right: 8px;
    }

    mat-icon {
        cursor: pointer;
    }

    .icon-edit {
        color: $primary
    }

    .icon-delete {
        color: $red-color
    }

    .status-recusadas {
        @include status-base($red-color)
    }

    .status-resolvidas {
        @include status-base($color-paragraph)
    }

    .status-pendentes {
        @include status-base($orange-color)
    }

    .status-tratamento {
        @include status-base($green-color)
    }
}