@import '~/src/styles/_variables.scss';

.table-employees {
    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        mat-icon {
            cursor: pointer;
        }

        .icon-edit {
            color: $primary
        }

        .icon-delete {
            color: $red-color
        }
    }
}