@import '~src/styles/_variables.scss';

.section-filter-ocorrencias {

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: white;
        border-radius: 5px;
        border: 1px solid $placeholder-color;
        border-radius: 8px;
    }

    ::ng-deep .mat-form-field {
        font-size: 14px; // example
        margin: 0;
    }

    mat-form-field {
        width: 100%;
    }

    .example-option-img {
        vertical-align: middle;
        margin-right: 8px;
    }

    [dir='rtl'] .example-option-img {
        margin-right: 0;
        margin-left: 8px;
    }
}