@import '~bootstrap/dist/css/bootstrap.min.css';
@import './styles/main.scss';

@font-face {
    font-family: "Nunito";
    src: local("Nunito"), url(./assets/fonts/nunito-regular.ttf) format("truetype");
}

body {
    margin: 0;
    font-family: Nunito, Arial, Helvetica, sans-serif;
}