@import '~src/styles/_variables.scss';

dialog {
    margin-top: -90px;

    .button-salvar-responsavel {
        background: $color-paragraph;
        border: 1px solid $color-paragraph;
        border-radius: 8px;
        border: 1px solid $color-paragraph;
        border-radius: 8px;
        color: white;
        height: 48px;
        margin-right: 10px;
        width: 190px;
        cursor: pointer;
    }
}